#evi-nav{
    box-shadow: 0px 2px 4px #dedbdb;
    border-bottom: solid thin #cecdcd;
    
    .dropdown-menu div[class*="col"] {
        margin-bottom: 1rem
    }
    
    .dropdown-toggle::after {
        display: none!important;
    }
    
    .dropdown-menu {
        border: none;
        .container{
            display: block!important;
        }
        
        .product-menu{
            padding: 20px;
            border: solid thin #eceaea;
            border-radius: 3px;
            margin-top: 15px;
            .product-title{
                font-size: 13px;
                font-weight: bold;
                .product-link{
                    transition: .3s;
                    color: #383837;
                    text-decoration: none;
                }
            }
            
            &:hover{
                .product-title{
                    .product-link{
                        color: $color-link-hover;
                    }
                }
            }
        }
    }
    
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px
    }
    
    .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
        >a.nav-link{
            color: #545252;
            font-size: 1.1em;
            transition: .3s;
        }
        
        .icon-has-dropdown{
            font-size: 11px;
            color: silver;
        }
        
        &:hover{
            >a.nav-link{
                color: #098afb;
            }
            .icon-has-dropdown{
                color: #098afb;
            }
        }
    }
    
    .dropdown {
        position: static
    }
    
    .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        top: 53px;
    }
    
    .dropdown:hover .dropdown-menu,
    .dropdown .dropdown-menu:hover {
        display: block !important
    }
    
    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff
    }
    
    a.i {
        margin-top: -20px;
        font-weight: 400;
        color: #2a2828
    }
    
    a.catogary {
        margin-left: -20px;
        color: white
    }
    
    button.srch {
        padding: 0px
    }
    
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
        input.srch {
            padding: 0px;
            width: 100%
        }
    }
    
    a.nav-link{
        color: #2a2828;
    }
    a.nav-link.active {
        font-weight: 700;
        background-color: #6B5B95;
        color: #2a2828
    }
    
    a.navbar-brand {
        color: #2a2828;
        font-size: 1.4em;
        .evi{
            color: #03A9F4;
        }
        .smart{
            color: #c61212;
            font-weight: bold;
        }
    }
    
    span.navbar-toggler.icon {
        color: black
    }
    
    .cart-nav-inner{
        position: relative;
        .cart-icon{
            font-size: 18px;
            color: #868686;
        }
        .nav-cart-count{
            position: absolute;
            font-size: 9px;
            font-weight: 500;
        }
    }
}
