#app-nav{
    .navbar-nav{
        .nav-item{
            font-size: 1.3em;
            .nav-link{
                color: $nav-link-color;
                font-weight: 600;
                &:hover{
                    color: $nav-link-color-hover;
                }
            }
        }
    }
}
