$nav-text:#012754;
$nav-text-hover:#b1b7bc;

#evi-nav{
    .nav-item{
        >.nav-link{
            padding: 15px;
            font-size: 1.3em;
            color: $nav-text;
            .nav-text{
                color: $nav-text;
                &:hover{
                    transition:  .5s;
                    color: $nav-text-hover;
                }
            }
        }
    }
    
    .dropdown:hover>.dropdown-menu {
        top: 90%;
        display: block;
    }
    
    .dropdown-menu{
        .dropdown-item{
            font-size: 17px;
            color: #204169;
        }
    }
}

