.app-color{
    color: $text-color;
}

.no-underline{
    text-decoration: underline;
}
.pointer{
    cursor: pointer;
}
.text-decoration-none{
    text-decoration: none;
}

.p-xlg-5{
    @media (min-width: 992px) {
        padding: 7rem!important;
    }
}

.flex-content-between{
    justify-content: space-between;
}
