// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// App color
$main-color: #0074b5;

$text-color: #677B8C;
$text-color-hover: #305c81;

$nav-link-color: $text-color;
$nav-link-color-hover: $text-color-hover;

$color-link-hover: #0199df;

