#cart-index {
  margin-bottom: 100px;
}

#cart-index .cart-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#cart-index .cart-content .cart-products__product {
  padding: 20px;
  border-bottom: solid thin #e7e7e7;
}

#cart-index .cart-content .cart-products__product .cart-products__inner {
  display: flex;
  flex-wrap: nowrap;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__img {
  width: 100px;
  margin-right: 20px;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content {
  width: calc(100% - 100px);
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
  width: 60%;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .cart-products__name {
  color: #403e43;
  font-weight: 700;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .btn-remove-from-cart {
  margin-top: 10px;
  padding: 1px 10px;
  font-size: 11px;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details .cart-products__real-prices {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #0f0e0e;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  #cart-index .cart-content .cart-products__product .cart-products__inner {
    display: flex;
    flex-wrap: nowrap;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__img {
    width: 100px;
    margin-right: 20px;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
    display: block;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
    width: 100%;
    margin-bottom: 10px;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
    display: block;
  }
}

#cart-index .orderForm {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#cart-index .orderForm .btn-confirm-order {
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#order-success .order-wrapper {
  margin-bottom: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
}

#order-success .order-wrapper .order-head {
  color: #38c172;
}

#order-success .order-wrapper .order-head .success-icon {
  font-size: 3em;
}

#order-success .order-wrapper .cart-products__product {
  padding: 20px 0;
  border-bottom: solid thin #e7e7e7;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner {
  display: flex;
  flex-wrap: nowrap;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__img {
  width: 100px;
  margin-right: 20px;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content {
  width: calc(100% - 100px);
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
  width: 60%;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .cart-products__name {
  color: #403e43;
  font-weight: 700;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .btn-remove-from-cart {
  margin-top: 10px;
  padding: 1px 10px;
  font-size: 11px;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details .cart-products__real-prices {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #0f0e0e;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  #order-success .order-wrapper .cart-products__product .cart-products__inner {
    display: flex;
    flex-wrap: nowrap;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__img {
    width: 68px;
    margin-right: 10px;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content {
    width: calc(100% - 68px);
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
    display: block;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
    width: 100%;
    margin-bottom: 10px;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
    display: block;
  }
}

