.carousel-image {
  width: 100%;
}

.section-title {
  text-align: center;
  position: relative;
  margin: 40px 0;
  font-size: 1.4em;
  text-transform: uppercase;
}

.section-title:before {
  content: "";
  width: 62px;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -31px;
  background: #95b1d2;
}

#out-services {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #f8fafc;
}

#out-services .service-block {
  margin-bottom: 45px;
}

#out-services .service-block .icon {
  float: left;
  border-right: 1px solid #e3e3e3;
  padding: 0 15px 10px 0;
  margin: 0 15px 0;
  color: #117a8b;
  font-size: 36px;
  line-height: 36px;
}

#out-services .service-block .service-title {
  font-size: 19px;
  color: #1f7e8e;
}

#section-hot-product {
  background: #f0f0f0;
}

#section-hot-product .hot-product {
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(183, 183, 183, 0.4);
  background-color: var(--light-background);
  overflow: hidden;
}

#section-hot-product .hot-product .product-title {
  font-size: 1.3em;
}

#section-hot-product .hot-product .product-title .product-link {
  color: #167b8b;
  transition: 0.3s;
}

#section-hot-product .hot-product .product-title .product-link:hover {
  color: #004a56;
}

#section-news {
  padding-top: 50px;
}

#section-news .news-block .img-box {
  overflow: hidden;
  position: relative;
  margin: 0 0 12px;
}

#section-news .news-block .img-box img {
  transition: all 0.4s ease-in-out;
}

#section-news .news-block .img-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  background: rgba(1, 39, 84, 0.24);
  transition: 0.5s;
}

#section-news .news-block .news-text .news-title a {
  color: #012754;
}

#section-news .news-block:hover .img-box img {
  transform: scale3D(1.1, 1.1, 1);
}

#section-news .news-block:hover .img-box .overlay {
  opacity: 1;
  transform: scale(1);
}

#cart-index {
  margin-bottom: 100px;
}

#cart-index .cart-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#cart-index .cart-content .cart-products__product {
  padding: 20px;
  border-bottom: solid thin #e7e7e7;
}

#cart-index .cart-content .cart-products__product .cart-products__inner {
  display: flex;
  flex-wrap: nowrap;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__img {
  width: 100px;
  margin-right: 20px;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content {
  width: calc(100% - 100px);
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
  width: 60%;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .cart-products__name {
  color: #403e43;
  font-weight: 700;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .btn-remove-from-cart {
  margin-top: 10px;
  padding: 1px 10px;
  font-size: 11px;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details .cart-products__real-prices {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #0f0e0e;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  #cart-index .cart-content .cart-products__product .cart-products__inner {
    display: flex;
    flex-wrap: nowrap;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__img {
    width: 100px;
    margin-right: 20px;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
    display: block;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
    width: 100%;
    margin-bottom: 10px;
  }

  #cart-index .cart-content .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
    display: block;
  }
}

#cart-index .orderForm {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#cart-index .orderForm .btn-confirm-order {
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#order-success .order-wrapper {
  margin-bottom: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
}

#order-success .order-wrapper .order-head {
  color: #38c172;
}

#order-success .order-wrapper .order-head .success-icon {
  font-size: 3em;
}

#order-success .order-wrapper .cart-products__product {
  padding: 20px 0;
  border-bottom: solid thin #e7e7e7;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner {
  display: flex;
  flex-wrap: nowrap;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__img {
  width: 100px;
  margin-right: 20px;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content {
  width: calc(100% - 100px);
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
  width: 60%;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .cart-products__name {
  color: #403e43;
  font-weight: 700;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc .btn-remove-from-cart {
  margin-top: 10px;
  padding: 1px 10px;
  font-size: 11px;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details .cart-products__real-prices {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #0f0e0e;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  #order-success .order-wrapper .cart-products__product .cart-products__inner {
    display: flex;
    flex-wrap: nowrap;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__img {
    width: 68px;
    margin-right: 10px;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content {
    width: calc(100% - 68px);
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner {
    display: block;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__desc {
    width: 100%;
    margin-bottom: 10px;
  }

  #order-success .order-wrapper .cart-products__product .cart-products__inner .cart-products__content .cart-products__content--inner .cart-products__details {
    display: block;
  }
}

#post-detail .post-content span {
  max-width: 100% !important;
}

#post-detail .post-content img {
  max-width: 100% !important;
}

#product-detail .product-slide .slide-content .slick-arrow {
  position: absolute;
  top: 50%;
  height: 38px;
  width: 38px;
  font-size: 0;
  background: url(/images/icon-arrow.png?5f4b516ecff6fb4fe5afd997d97e5230);
  border: none;
  outline: none;
  opacity: 0.6;
  transform: translate(0, -50%);
  z-index: 10;
}

#product-detail .product-slide .slide-content .slick-arrow.slick-prev {
  left: 10px;
}

#product-detail .product-slide .slide-content .slick-arrow.slick-next {
  right: 39px;
  background-position-x: 38px;
}

#product-detail .product-slide .slider-nav {
  display: flex;
  margin: 10px -5px;
}

#product-detail .product-slide .slider-nav .img-slide-nav {
  background: #EBEBEB;
  padding: 1px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: solid 2px #EBEBEB;
}

#product-detail .product-slide .slider-nav .img-slide-nav .img-fluid {
  margin: auto;
}

#product-detail .product-slide .slider-nav .img-slide-nav.slick-current {
  border: solid 2px #00BCD4;
}

#product-detail .product-attr .product-title {
  color: #3b535f;
  font-size: 2em;
  font-weight: 600;
}

#product-detail .product-attr .price {
  font-size: 1.6em;
}

#product-detail .product-attr .price .sale-price {
  color: #d50b0b;
  font-weight: 700;
}

#product-detail .product-attr .btn-add-to-card {
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
}

#product-detail .product-attr .btn-add-to-card .btn-sub-text {
  margin: 0;
  text-transform: initial;
  font-weight: 300;
  font-style: italic;
  font-size: 11px;
}

#product-detail .section-product-content .product-content img {
  max-width: 100%;
}

#product-detail .section-product-content .right-product .tableparameter .parameter {
  list-style: none;
  padding: 0;
  display: block;
  overflow: hidden;
  border-top: 1px solid #e4e4e4;
  margin-top: 15px;
}

#product-detail .section-product-content .right-product .tableparameter .parameter > li {
  display: table;
  background: #fff;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 5px 0;
}

#product-detail .section-product-content .right-product .tableparameter .parameter > li > span {
  display: table-cell;
  width: 40%;
  vertical-align: top;
  padding: 5px 0;
  font-size: 14px;
  color: #666;
}

#product-detail .section-product-content .right-product .tableparameter .parameter > li > div {
  display: table-cell;
  width: auto;
  vertical-align: top;
  padding: 6px 5px;
  font-size: 14px;
  color: #333;
}

#product-category .section-top {
  background: url(/images/technology-abstract.jpg?949a44d0057c801aa3eb16e4beaa22cf);
  background-size: cover;
  background-repeat: no-repeat;
}

