.carousel-image {
  width: 100%;
}

.section-title {
  text-align: center;
  position: relative;
  margin: 40px 0;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #1e8ff2;
  font-weight: 700;
}

.section-title:before {
  content: "";
  width: 62px;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -31px;
  background: #1e8ff2;
}

#out-services {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #eaeaea;
}

#out-services .product-card {
  border: transparent;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

#out-services .product-card .product-img {
  transition: 0.5s;
}

#out-services .product-card .card-body {
  padding: 20px;
}

#out-services .product-card .product-title {
  margin-top: 15px;
  font-size: 1.2em;
  height: 44px;
  overflow: hidden;
  font-weight: 600;
}

#out-services .product-card .product-title a {
  color: #3d4145;
}

#out-services .product-card .product-title a:hover {
  text-decoration: none;
}

#out-services .product-card .btn-detail {
  color: white;
  background-color: #00BCD4;
  border-color: #80aea9;
  transition: 0.3s;
}

#out-services .product-card:hover .btn-detail {
  background: #FF5722;
  border-color: #e14614;
  color: white;
}

#out-services .product-card:hover .product-img {
  transform: scale3D(1.1, 1.1, 1);
}

#section-hot-product {
  background: #f0f0f0;
}

#section-hot-product .hot-product {
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(183, 183, 183, 0.4);
  background-color: var(--light-background);
  overflow: hidden;
}

#section-hot-product .hot-product .product-title {
  font-size: 1.3em;
}

#section-hot-product .hot-product .product-title .product-link {
  color: #167b8b;
  transition: 0.3s;
}

#section-hot-product .hot-product .product-title .product-link:hover {
  color: #004a56;
}

#we-choice .choice-box .choice-img {
  padding: 0 30px;
}

#counter-show {
  background-color: #2732b0;
}

#counter-show .counter-title {
  color: #f26522;
  font-size: 36px;
  font-weight: 600;
}

#counter-show .counter-desc {
  font-size: 1.1em;
}

#section-image-collection {
  background: #919fa5;
}

#section-image-collection .section-title {
  color: white;
  font-weight: 800;
}

#section-image-collection .image-item {
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(183, 183, 183, 0.4);
  background-color: var(--light-background);
  overflow: hidden;
}

#section-image-collection .image-item img {
  transition: 0.5s;
}

#section-image-collection .image-item:hover img {
  transform: scale3D(1.1, 1.1, 1);
}

#section-news {
  padding-top: 50px;
}

#section-news .news-block .img-box {
  overflow: hidden;
  position: relative;
  margin: 0 0 12px;
}

#section-news .news-block .news-text .news-title {
  font-size: 1.1em;
  font-weight: bold;
}

#section-news .news-block .news-text .news-title a {
  color: #1464c2;
}

#news-index .article-item {
  margin-bottom: 20px;
}

#news-index .article-item .article-title {
  font-size: 1.3em;
  font-weight: bold;
}

#news-index .article-item .article-title a {
  color: #255389;
}

#news-index .article-item .article-title a:hover {
  text-decoration: none;
}

#news-index .article-item .article-publish-date {
  color: #3490dc;
  font-weight: 700;
  font-size: 13px;
}

#post-detail .post-content span {
  max-width: 100% !important;
}

#post-detail .post-content img {
  max-width: 100% !important;
}

