$footer-bg-color: #00527a;
$footer-title-color: #FFF;
$footer-link-color: #ccc;


#footer{
    padding-top: 60px;
    background: #21242a;
    
    .footer1-title{
        font-size: 16px;
    }
    
    .footer-link{
        color: #bbbbc2;
        transition: .3s;
        &:hover{
            color: $color-link-hover;
        }
    }
    
    .social-connect{
        .social-link{
            display: block;
            padding: 10px 15px;
            font-size: 2em;
            transition: .3s;
            
            &.youtube{
                color: #b50a0a;
                &:hover{
                    color: #cf0d0d;
                }
            }
            &.email{
                color: silver;
                &:hover{
                    color: #f6f6f6;
                }
            }
        }
    }
    
    .coppy-right{
        border-top: 2px solid #303338;
        margin-top: 20px;
        padding-top: 10px;
    }
}
