$nav-text:#012754;
$nav-text-hover:#b1b7bc;

#evico-nav{
    //border-top: solid 4px #0175b2;
    box-shadow: 0px 2px 4px #2196f31a;
    border-bottom: solid thin #cecdcd54;
    
    padding: 0 80px;
    
    .nav-item{
        >.nav-link{
            padding: 15px;
            font-size: 1.3em;
            color: $nav-text;
            .nav-text{
                color: $nav-text;
                &:hover{
                    transition:  .5s;
                    color: $nav-text-hover;
                }
            }
        }
    }
    
    .dropdown:hover>.dropdown-menu {
        top: 90%;
        display: block;
    }
    
    .dropdown-menu{
        .dropdown-item{
            font-size: 17px;
            color: #204169;
        }
    }
    
    .nav-auth-login{
        background: $main-color;
        color: white !important;
        border-radius: 7px;
        padding: 2px 10px!important;
        line-height: 25px;
        font-size: .9em!important;
        margin-top: 14px;
        @media(max-width: 992px){
            padding: 2px 10px!important;
            margin: 15px;
        }
    }
    
    @media (max-width: 1024px) {
        padding: 0;
    }
    
    #navbarSupportedContent{
        @media (max-width: 992px) {
            padding: 0;
        }
    }
    
    
}

