@import "../../../../sass/style_variables";
#product-category{
	background-color: #f8f8f8;
	.section-top{
		background-color: $main-color;
		
		.my-breadcrumb{
			.breadcrumb-item{
				color: #e7edf2;
				a{
					color: #e7edf2;
				}
			}
		}
	}
	
	.product-card{
		border: solid thin #f2f2f2;
		
		.product-info{
			.product-name{
				color: $main-color;
				font-size: 1.4em;
				font-weight: 600;
				height: 25px;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
			}
			.short-desc{
				font-size: 1.1em;
				height: 71px;
				overflow: hidden;
			}
		}
	}
}

#category-detail{
	
	.content-render{
		img{
			max-width: 100%!important;
		}
	}
	
	.right-title{
		font-size: 20px;
		color: #003770;
		text-transform: uppercase;
		margin: 40px 0px 20px;
		position: relative;
		padding-bottom: 6px;
		font-weight: 700;
		&:after{
			content: '';
			width: 45px;
			height: 4px;
			background-color: $main-color;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	
	.related-product{
		background: #e8eff6;
		padding: 20px;
	}
	
	.product-card{
		border: solid thin #f2f2f2;
		
		.product-info{
		}
	}
}
