@import "../../../../sass/style_variables";
#product-index{
	background-color: #f8f8f8;
	.section-top{
		background-color: $main-color;
		
		.my-breadcrumb{
			.breadcrumb-item{
				color: #e7edf2;
				a{
					color: #e7edf2;
				}
			}
		}
	}
    
    .product-card{
        border: transparent;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33,40,50,.15);
        border-radius: 4px;
        overflow: hidden;
        .product-img{
            transition: 0.5s;
        }
        .card-body{
            padding: 20px;
        }
        .product-title{
            margin-top: 15px;
            font-size: 1.2em;
            height: 44px;
            overflow: hidden;
            font-weight: 600;
            a{
                color: #3d4145;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .btn-detail{
            color: white;
            background-color: #00BCD4;
            border-color: #80aea9;
            transition: .3s;
        }
        
        &:hover{
            .btn-detail{
                background: #FF5722;
                border-color: #e14614;
                color: white;
            }
            
            .product-img{
                transform: scale3D(1.1, 1.1, 1)
            }
        }
    }
}

#category-detail{
	
	.content-render{
		img{
			max-width: 100%!important;
		}
	}
	
	.right-title{
		font-size: 20px;
		color: #003770;
		text-transform: uppercase;
		margin: 40px 0px 20px;
		position: relative;
		padding-bottom: 6px;
		font-weight: 700;
		&:after{
			content: '';
			width: 45px;
			height: 4px;
			background-color: $main-color;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	
	.related-product{
		background: #e8eff6;
		padding: 20px;
	}
	
	.product-card{
		border: solid thin #f2f2f2;
		
		.product-info{
		}
	}
}
