
$text-color: #1464c2;

.carousel-image{
    width: 100%;
}

.section-title{
    text-align: center;
    position: relative;
    margin: 40px 0;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #1e8ff2;
    font-weight: 700;
    &:before{
        content: '';
        width: 62px;
        height: 3px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -31px;
        background: #1e8ff2;
    }
}

#out-services{
    padding-top: 50px;
    padding-bottom: 40px;
    background: #eaeaea;
    
    .product-card{
        border: transparent;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33,40,50,.15);
        border-radius: 4px;
        overflow: hidden;
        .product-img{
            transition: 0.5s;
        }
        .card-body{
            padding: 20px;
        }
        .product-title{
            margin-top: 15px;
            font-size: 1.2em;
            height: 44px;
            overflow: hidden;
            font-weight: 600;
            a{
                color: #3d4145;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .btn-detail{
            color: white;
            background-color: #00BCD4;
            border-color: #80aea9;
            transition: .3s;
        }
        
        &:hover{
            .btn-detail{
                background: #FF5722;
                border-color: #e14614;
                color: white;
            }
            
            .product-img{
                transform: scale3D(1.1, 1.1, 1)
            }
        }
    }
}

#section-hot-product{
    background: #f0f0f0;
    .hot-product{
        margin-bottom: 15px;
        border-radius: 6px;
        box-shadow: 0 2px 5px 0 rgba(183,183,183,0.4);
        background-color: var(--light-background);
        overflow: hidden;
        
        .product-title{
            font-size: 1.3em;
            .product-link{
                color: #167b8b;
                transition: .3s;
                &:hover{
                    color: #004a56;
                }
            }
        }
        
    }
}

#we-choice{
    .choice-box{
        .choice-img{
            padding: 0 30px;
        }
    }
}


#counter-show{
    background-color: #2732b0;
    .counter-title{
        color: #f26522;
        font-size: 36px;
        font-weight: 600;
    }
    .counter-desc{
        font-size: 1.1em;
    }
}

#section-image-collection{
    background: #919fa5;
    .section-title{
        color: white;
        font-weight: 800;
    }
    .image-item{
        margin-bottom: 15px;
        box-shadow: 0 2px 5px 0 rgba(183,183,183,0.4);
        background-color: var(--light-background);
        overflow: hidden;
        
        img{
            transition: .5s;
        }
        &:hover{
            img{
                transform: scale3D(1.1,1.1,1);
            }
        }
        
    }
}


#section-news{
    padding-top: 50px;
    .news-block{
        .img-box{
            overflow: hidden;
            position: relative;
            margin: 0 0 12px;
            
        }
        .news-text{
            .news-title{
                font-size: 1.1em;
                font-weight: bold;
                a{
                    color: $text-color;
                }
            }
        }
        &:hover{
            .img-box{
            
            }
        }
    }
}
